/* theme color */
:root {
    --primary-color: #0068C9;
    --primary-color-light: #4B94DB;
    --secondary-color: #F0F2F6;
    --border-color: #31333f33;
}

/* custom style */
#stDecoration {
    display: none;
}

.stApp>header {
    border-bottom: 1px solid var(--border-color);
}

/* apply theme color */
/* button */
.stButton>button,
.stButton>button:focus:not(:active) {
    background-color: var(--primary-color);
    color: #ffffff;
    border-color: transparent;
}

.stButton>button:hover,
.stButton>button:active {
    background-color: var(--primary-color-light);
    color: #ffffff;
    border-color: transparent;
}

/* checkbox */
.stCheckbox>label>span:has(+input:checked) {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.stCheckbox>label>span:has(+input:checked):focus-visible {
    box-shadow: 0 0 0 2px var(--primary-color);
}

/* radio */
div[role="radiogroup"]>label>div:has(+input:checked) {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* select */
.stSelectbox>div>div {
    background-color: inherit;
    border-color: var(--border-color);
}

/* multi select */
.stMultiSelect>div>div>div {
    background-color: inherit;
    border-color: var(--border-color);
}

.stMultiSelect>div>div>div>div>span[role="button"] {
    background-color: var(--secondary-color);
    color: inherit;
}

/* text input */
.stTextInput>div,
.stTextInput>div>div {
    background-color: inherit;
}

.stTextInput>div {
    border-color: var(--border-color);
}

.stTextInput>div:has(>div>input:focus-visible) {
    border: 2px solid #000;
}

/* number input */
.stNumberInput>div>div,
.stNumberInput>div>div>div,
.stNumberInput>div>div>button {
    background-color: inherit;
}

.stNumberInput>div {
    border-color: var(--border-color);
}

.stNumberInput>div.focused {
    border: 2px solid #000;
}

.stNumberInput>div>div {
    border: 0;
}