/* theme color */
:root {
    --primary-color: #0068C9;
    --primary-color-light: #4B94DB;
}

/* custom style */
#stDecoration {
    display: none;
}

.stApp>header {
    border-bottom: 1px solid #31333f33;
}

/* apply theme color */
/* button */
.stButton>button,
.stButton>button:focus:not(:active) {
    background-color: var(--primary-color);
    color: #ffffff;
    border-color: transparent;
}

.stButton>button:hover,
.stButton>button:active {
    background-color: var(--primary-color-light);
    color: #ffffff;
    border-color: transparent;
}

.stButton>button:focus-visible {
    border-color: transparent;
    box-shadow: 0 0 0 2px var(--primary-color);
}

/* checkbox */
.stCheckbox>label>span:has(+input:checked) {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.stCheckbox>label>span:focus-visible:has(+input:checked) {
    box-shadow: 0 0 0 2px var(--primary-color) !important;
}