/* theme color */
:root {
    --primary-color: #0068C9;
    --primary-color-light: #4B94DB;
    --secondary-color: #F0F2F6;
    --border-color: #888;

}

/* custom style */
#stDecoration {
    display: none;
}

.stApp>header {
    border-bottom: 1px solid var(--border-color);
}

/* apply theme color */
/* button */
.stButton>button,
.stButton>button:focus:not(:active) {
    background-color: var(--primary-color);
    color: #ffffff;
    border-color: transparent;
}

.stButton>button:hover,
.stButton>button:active {
    background-color: var(--primary-color-light);
    color: #ffffff;
    border-color: transparent;
}

/* checkbox */
.stCheckbox>label>span:has(+input:checked) {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.stCheckbox>label>span:has(+input:checked):focus-visible {
    box-shadow: 0 0 0 2px var(--primary-color);
}

/* radio */
div[role="radiogroup"]>label>div:has(+input:checked) {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* select */
.stSelectbox>div>div {
    background-color: inherit;
    border-color: var(--border-color);
}

/* multi select */
.stMultiSelect>div>div>div {
    background-color: inherit;
    border-color: var(--border-color);
}

.stMultiSelect>div>div>div>div>span[role="button"] {
    background-color: var(--primary-color);
    color: #ffffff;
}

/* text input */
.stTextInput>div,
.stTextInput>div>div {
    background-color: inherit;
}

.stTextInput>div {
    border-color: var(--border-color);
}

.stTextInput>div:has(>div>input:focus-visible) {
    box-shadow: 0 0 0 2px var(--border-color);
}

/* number input */
.stNumberInput>div>div,
.stNumberInput>div>div>div,
.stNumberInput>div>div>button {
    background-color: inherit;
}

.stNumberInput>div {
    border-color: var(--border-color);
}

.stNumberInput>div.focused {
    border-color: var(--border-color);
    box-shadow: 0 0 0 2px var(--border-color);
}

.stNumberInput>div>div {
    border: 0;
}

button[data-testid="stNumberInputStepDown"]:hover:enabled,
button[data-testid="stNumberInputStepDown"]:focus:enabled,
button[data-testid="stNumberInputStepUp"]:hover:enabled,
button[data-testid="stNumberInputStepUp"]:focus:enabled {
    background-color: var(--border-color);
}

/* expander */
.stExpander>details>summary:hover {
    color: inherit;
}

[data-testid="stExpanderToggleIcon"] {
    fill: unset !important;
}

/* tab */
button[data-testid="stTab"],
button[data-testid="stTab"]:hover,
button[data-testid="stTab"]:focus {
    color: inherit;
}

button[data-testid="stTab"][aria-selected="true"]>div>p {
    font-weight: bold;
}

.stTabs>div>div>div>div[role="presentation"] {
    background-color: var(--primary-color);
}